.photoOwnerBackground {
    position: absolute;
    width: 30%;
    height: 90%;
    left: 9.5rem;
    top: 6.75rem;
    
    background: rgba(227, 213, 203, 0.7);
}

.motto {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 43rem;
    top: 10rem;
    
    font-family: 'Ledger';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 97px;
    
    color: #683B4B;
}

.description {
    position: absolute;
    width: 18%;
    height: 20%;
    left: 70rem;
    top: 35rem;
    
    font-family: 'Ledger';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    
    color: #683B4B;
}